# Logs
logs
*.log
npm-debug.log*
node_modules
dist
.vite
dist-ssr
*.local
.env
!.env.example
.tmp-preview
public/images/_pick

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
